*{
	box-sizing: border-box;
}
.top-ad{
	height:470px;
	width: 100%;
	background: url(../img/tbuycar-topad.jpg);
}
.sellcar-main{
	width: 1200px;
	border: 1px solid #eaeaea;
	margin: -87px auto 40px;
	background: #fff;
	padding-bottom: 60px; 
}
.sellcar-main-tad{
	height: 87px;
	background-color: #fafafa;
	border-bottom: 1px solid #eaeaea;
	position: relative;
	display: table;
}
.sellcar-main-tad ul{
	width: 1201px;
	height: 87px;
	position: absolute;
	left: 0;
	top: 0;
}
.sellcar-main-tad ul li{
	float:left;
	border-left:1px solid  #eaeaea;
	background-color: #fafafa;
	margin-left: -1px;
	width: 400px;
	height: 87px;
	text-align: center;
	line-height: 86px;
	border-left: 1px solid #eaeaea;
}
.sellcar-main-tad ul li a {
	text-decoration: none;
	color: #666;
	font-size: 24px;
	display: block;
}
.sellcar-main-tad ul li a i{
	width: 28px;
	height: 28px;
	background: url(../img/tbuycar-tisl.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}
.sellcar-main-tad ul li a i.second{
	background-position: -80px top;
}
.sellcar-main-tad ul li a i.third{
	background-position: -142px top;
}
/*个人网上卖车*/
.sellcar-enrol{
	margin-top: 60px;
	display:table;
	width: 100%;
}
.sellcar-enrol-left{
	width: 720px;
	min-height: 370px;
	float: left;
}
.sellcar-enrol-tit{
	margin-left: 130px;
	color:#333;
	font-size: 24px;
	margin-bottom: 60px;
}
.form-sm{
	position: relative;
	border-right: 1px solid #eaeaea;
	margin-left:130px;
}
.form-group{
	min-height: 50px;
    line-height: 50px;
    position: relative;
    padding-left: 95px;
    margin-bottom: 30px;
    font-family: "Microsoft Yahei","PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-sm .form-group {
    margin-bottom: 25px;
    min-height: 40px;
    line-height: 40px;
    padding-left: 92px;
    display: table;
}
.form-name{
	height: 40px;
	line-height: 40px;
	font-size:16px;
	left:0px;
	width: 70px;
	text-align: right;
	position: absolute;
	top: 0;
	color:#333;
	display: block;
}
.form-col{
	float: left;
	display:inline;
	width: auto;
	font-size: 14px;
	color:#999;
	width: auto;
}
.form-checked{
	position: relative;
	float: left;
	border: 1px solid #ddd;
	height: 40px;
	cursor:pointer;
	background-color: #fff;
	border-radius: 3px;
}
.form-w405{
	width:428px;
	padding-left: 12px;
	padding-right: 10px;
}
.form-checked span{
	height: 40px;
	line-height: 39px;
	overflow: hidden;
	padding-right: 20px;
	display: block;
	margin-top: 0;
	color: #cbcbcb;
	font-size:16px;
}
.form-arrow{
	height: 48px;
	width: 48px;
	position: absolute;
	top: 0;
	right: 0;
}
.form-sm .form-arrow{
	height: 40px;
}
.form-arrow em{
	width: 22px;
	height: 16px;
	right: 4px;
	top:20px;
	background: url(../img/bd_bg1.png) left -30px;
	display: block;
	margin-top: 14px;
	margin-left: 20px;
}
.form-popover{
	position: absolute;
	right: -1px;
	border: 1px solid #ddd;
	background-color:#fff;
	border-radius: 4px;
	top:42px;
	left:92px;
	width: 428px;
	display: block;
	z-index:20;
}
.form-popover-tit{
	height: 37px;
	line-height: 37px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.form-popover-tit ul{
	height: 31px;
	position: absolute;
	left: 0;
	top:-2px;
	padding-left: 12px;
}
.form-popover-tit ul li{
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
	position: relative;
	font-size: 16px;
}
.form-popover-1{
	width: 48px;
	float: left;
	border-right: 1px solid #ddd;
	padding-top:5px;
	padding-left: 14px;
	padding-right: 14px;
	height: 450px;
	background-color:#f9f9f9;
	overflow: hidden;
}
.form-popover-1 div a{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #999;
	display: block;
	padding: 0 !important;
}
.form-popover-r{
	width: 378px;
	float: left;
	height: 450px;
	overflow-y: auto;
}
.form-popover-p{
	border-top: 1px solid #e1e1e1;
	margin-top:-1px;	
}
.form-popover-p h4{
	margin-left: 12px;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-right: 12px;
}
.form-popover-p h4.first{
	border-top: 0;

}
.form-popover-p p{
	margin-top: 1px;
	margin-bottom: 1px;
}
.form-popover-p a{
	height:32px;
	line-height: 32px;
	overflow: hidden;
	display: block;
	color: #333;
	padding-left: 12px;
	font-family: "Microsoft Yahei","PingFangSC-Regular","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-sm .form-w205{
	width: 250px;
	padding-left: 12px;
	padding-right: 10px;
}
.form-sm .time-popover{
	width: 250px;
}
.form-height{
	height: 446px;
	overflow-y: auto;
}
.form-popover-year{
	width: 130px;
	height: 448px;
	border-right: 1px solid #ddd;
	overflow-y: hidden;
	float: left;
}
.form-height a{
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	display: block;
	padding-left: 20px;
	font-size: 14px;
}
.form-popover-down{
	height: 460px;
	overflow-y: auto;
}
.form-popover-tit ul li.current {
    font-weight: bold;
}
.form-sm .form-input{
	height: 40px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border:1px solid #ddd;
	border-radius: 3px;
	font-size: 16px;
	color: #cbcbcb;
}
::-webkit-input-placeholder { /* WebKit browsers */
	color:#cbcbcb;
	font-size:16px;
}
.form-sellcar-error{
	position: absolute;
	left: 92px;
	top: 60px;
	display: table;
}
.form-sellcar-error i{
	position: absolute;
	left: 20px;
	top:-8px;
	width: 14px;
	height:9px;
	background: url(../img/tbuycar-ico2.png) no-repeat -29px -316px;
}
.form-sellcar-error-text{
	width: 250px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	background-color: #fffcf7;
	padding-left: 20px;
	color: #e04228;
	font-size: 16px;
}
.form-sellcar-error-text em{
	width: 12px;
	height:12px;
	background: url(../img/tbuycar-ico2.png) no-repeat -60px -316px;
	float: left;
	margin-top:17px;
	margin-right: 10px;
}
.sellcar-enrol-but{
	margin-left: 210px;
	padding-top: 60px;

}
.btn{
	font-size: 18px;
	font-weight: bold;	
}
.sellcar-enrol-but .btn a {
	height: 50px;
	line-height: 48px;
	width:350px;
	border-radius: 3px;
	display: block;
	display: block;
	color: #fff;
	background-color: #fd9933;
	text-align: center;
	border:1px solid #fd9933;
}
.form-popover-1 .on a:link{
	background:url(../img/bd_bg1.png) no-repeat -42px 0; 
	color: #fff;
	
}